DATABASE_URL="postgresql://user:password@localhost:5432/devclone"
JWT_SECRET="sua-chave-secreta-aqui"
JWT_EXPIRES_IN="7d"
GOOGLE_CLIENT_ID="305690759318-eb0ob57gassho59ejte0n4u74vcjn80h.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="sua-chave-secreta-google"
RESEND_API_KEY="re_sua-chave-resend"
PORT=3333
NODE_ENV="development"
